__pycache__/
*.pyc
.pytest_cache/
node_modules/
.venv/
venv/
.env
api/.env
uploads/
analyzer/uploads/
data/*.pcap
data/*.pcapng
output/*.csv
output/*.png
/*.pcap
/sniffr/
/package.json
/package-lock.json
/screenshot.js